@import "common/flex";

@import "header";
@import "footer";
@import "public";

#shopBox{
	width:80%;
	div.nav{
		padding: 1.25rem 0;
		a{text-decoration:none;}
		a.navBefore:before{content:"/ ";}
	}
	div.shopBoxLists{
		table{
			thead{
				tr{
					th{text-align: center;}
				}
			}
			tbody{
				tr{
					td{
						height: 100px;text-align: center;line-height: 100px;
						img{height: 100%;width: auto;}
					}
				}
					
			}
		}
	}
	

}






