@import "common/flex";

@import "header";
@import "footer";
@import "public";

#shopBox{
	width:80%;
	div.nav{
		padding: 1.25rem 0;
		a{text-decoration:none;}
		a.navBefore:before{content:"/ ";}
	}
	div.shopBoxLists{
		padding: 20px 0;
		table{
			thead{
				tr{
					th{text-align: center;}
				}
			}
			tbody{
				tr{
					td{
						height: 60px;text-align: center;line-height: 60px;
						img{height: 140%;width: auto;}
						input.form-control{display: inline-block;width: 20%;text-align: center;font-weight: 600;}
					}
					td.shopSum{
						color: #e02b41;font-weight: 600;
					}
				}
					
			}
		}
	}
	div.emptyStyle{
		width: 100%;
		@include flexbox;@include justify-content(center);@include align-items(center);
		img{
			width: auto;height: 55px;
		}
		div{
			// height: 55px;
			margin-left: 20px;
			text-align: center;
			p{font: 16px/2 "";}
			a{
				text-decoration: none;color: #666;
				&:hover{color: #333;font-weight: 600;}
			}
		}
	}
	
	div.shopBoxPay{
		@include flexbox;@include justify-content(flex-end);@include align-items(center);
		width: 100%;height: 50px;border: 1px solid #ddd;
		em{
			font: 600 16px/50px "";
			i{color: #e02b41;font: 600 24px/50px "";}
		}
		button.payBtn{background: #ff9e01;color: #fff;font-weight: 600;margin:0 20px;}

	}

}






